.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}

a.link {
  color: black;
}

a.link:hover {
  cursor: pointer;
}

span.link:hover {
  cursor: pointer;
}
span.link.up:hover {
  color: green;
}
span.link.down:hover {
  color: red;
}