<!DOCTYPE html>
<html ng-app="redditCloneApp">
  <head>
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div ng-controller="redditCloneController">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Reddit Clone</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-click="showSubmitForm()"><a href=""><span class="glyphicon glyphicon-plus"></span> Submit Post</a></li>
              <li>
                <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input ng-model="searchText" type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="" ng-click="sortByVotes()">Votes</a></li>
                  <li><a href="" ng-click="sortByDates()">Date</a></li>
                  <li><a href="" ng-click="sortByTitle()">Title</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <form ng-submit="submitNewPost()" ng-show="showSubmit" class="form-horizontal">
          <h3>Submit New Post</h3>
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-6">
              <input required="" ng-model="blogPost.title" type="title" class="form-control" id="title" placeholder="Title">
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-6">
              <textarea required="" ng-model="blogPost.content" id="content" class="form-control" rows="3" placeholder="Content"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="image" class="col-sm-2 control-label">Image URL</label>
            <div class="col-sm-6">
              <input required="" ng-model="blogPost.image" class="form-control" id="image" placeholder="Image URL">
            </div>
          </div>
          <div class="form-group">
            <label for="author" class="col-sm-2 control-label">Author</label>
            <div class="col-sm-6">
              <input required="" ng-model="blogPost.author" class="form-control" id="author" placeholder="Author">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
        <br>
        <div ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-repeat="blogPost in blogPosts | orderBy : sortType | filter : searchText">
          <div class="well container">
            <div class="row">
              <div class="col-md-3">
                <img ng-src="{{blogPost.image}}" class="img-responsive img-rounded">
              </div>
              <div class="col-md-9">
                <h4>{{blogPost.title}} | 
                  <span ng-click="upVote()" class="glyphicon glyphicon-arrow-up link up"></span>
                  <span ng-click="downVote()" class="glyphicon glyphicon-arrow-down link down"></span>
                  {{blogPost.votes}}</h4>
                <h4 class="small">By {{blogPost.author}}</h4>
                <p>{{blogPost.content}}</p>
                <h4 class="small">
                  <span class="glyphicon glyphicon-calendar"></span> 
                  <span>{{blogPost.time | amCalendar}}</span> | 
                  <a ng-click="showComments()" class="link"><span class="glyphicon glyphicon-comment"></span> 
                  {{blogPost.comments.length}} <ng-pluralize 
                    count="blogPost.comments.length"
                    when="{'0': 'Comments',
                     'one': 'Comment',
                     'other': 'Comments'}">
                    </ng-pluralize></a> | 
                  <a ng-click="showCommentForm()" class="link"><span class="glyphicon glyphicon-pencil"></span> 
                  Add Comment</a></h4>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <form ng-submit="submitNewComment()" ng-show="blogPost.showComment" class="form-horizontal">
                <h3>Add A Comment</h3>
                <div class="form-group">
                  <label for="comment" class="col-sm-2 control-label">Comment</label>
                  <div class="col-sm-6">
                    <textarea required="" ng-model="blogPost.comment.content" id="comment" class="form-control" rows="3" placeholder="Comment"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="commentAuthor" class="col-sm-2 control-label">Author</label>
                  <div class="col-sm-6">
                    <input required="" ng-model="blogPost.comment.author" class="form-control" id="commentAuthor" placeholder="Author">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-default">Add</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="container">
            <div class="row" ng-repeat="comment in blogPost.comments" ng-show="blogPost.showAllComments">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <p>{{comment.content}}</p>
                <h4 class="small">By {{comment.author}}</h4>
                <h4 class="small">
                  <span class="glyphicon glyphicon-calendar"></span> 
                  <span>{{comment.time | amCalendar}}</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.moment/1.0.0-beta.2/angular-moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="./app/app.js" type="text/javascript"></script>
    <script src="./app/controllers.js" type="text/javascript"></script>
    <script src="./app/directives.js" type="text/javascript"></script>
    <script src="./app/filters.js" type="text/javascript"></script>
    <script src="./app/services.js" type="text/javascript"></script>
  </body>
</html>